@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto;
}

.darkbg,
footer {
  background-color: #1f2937;
}

.main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.sec-text {
  font-size: 18px;
  color: #e5e7eb;
}

header {
  font-size: 24px;
  color: #f9faf8;
}

button {
  color: #3882f6;
}

.fourth-section {
  background-color: #3882f6;
}

.third-section {
  background-color: #e5e7eb;
}

.third-section > p {
  color: #1f2937;
  font-size: 36px light;
  font-style: italic;
}

.second-section > h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

nav {
  padding: 10px;
}
.top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.top ul {
  list-style-type: none;
  padding: 15px;
  margin: 10px;
  display: flex;
  gap: 12px;
}
